<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tutorial.Mapper.DeptMapper"> <!-- 自建interface的路徑 -->
            <!--  多對一 resulMap配置  -->
    <resultMap type="EmpDO" id="resultEmp"> <!-- type=Entity名稱  id=自訂義名稱-->
        <id property="empno" column="empno"/> <!-- property=實體變數名稱 column=自訂義欄位名稱 -->
        <result property="ename" column="ename"/>
        <result property="job" column="job"/>
        <result property="hiredate" column="hiredate"/>
        <result property="sal" column="sal"/>
        <result property="comm" column="comm"/>
        <result property="deptDO.deptno" column="deptno"/>
        <result property="deptDO.dname" column="dname"/>
        <result property="deptDO.loc" column="loc"/>
    </resultMap>
    <!--  多對一 resulMap配置 第二種方式  -->
    <resultMap type="EmpDO" id="testEmp">
        <id property="empno" column="empno"/>
        <result property="ename" column="ename"/>
        <result property="job" column="job"/>
        <result property="hiredate" column="hiredate"/>
        <result property="sal" column="sal"/>
        <result property="comm" column="comm"/>
        <association property="deptDO" javaType="DeptDO">
            <result property="deptno" column="deptno"/>
            <result property="dname" column="dname"/>
            <result property="loc" column="loc"/>
        </association>

    </resultMap>
                <!-- 一對多 resultMap配置 -->
    <resultMap type="DeptDO" id="resultDept">
        <result property="deptno" column="deptno"/>
        <result property="dname" column="dname"/>
        <result property="loc" column="loc"/>
        <collection property="empDOs" ofType="EmpDO">
            <id property="empno" column="empno"/>
            <result property="ename" column="ename" />
            <result property="job" column="job" />
            <result property="hiredate" column="hiredate" />
            <result property="sal" column="sal"/>
            <result property="comm" column="comm" />
            <result property="deptno" column="deptno"/>
        </collection>
    </resultMap>
    <!-- select查詢 id=與interface方法名稱相同 使用一對多或多對一必須要加resultMap=自己建立的resultMap_id  -->
    <!--  使用原本Entity resultType=Entity名稱  -->
    <select id="getAlls" resultMap="resultDept">
        SELECT
        e.*,p.*
        FROM dept2 e
        join emp2 p ON e.deptno = p.deptno
    </select>
    <!--  insert新增  -->
    <insert id="insert">

        INSERT INTO dept2 (dname,loc)
        VALUES (#{dname}, #{loc})
        <!--  #{參數變數為實體變數名稱}    -->
    </insert>
    <!--  刪除delete  -->
    <delete id="delete">
        DELETE FROM dept2 where deptno = #{deptno}
    </delete>
    <!--  更新update  -->
    <update id="update">
        UPDATE dept2
        set
        dname=#{dname}, loc=#{loc}
        where deptno = #{deptno}
    </update>
    <select id="findByPrimaryKey" resultType="DeptDO">
        SELECT deptno , dname, loc FROM dept2 where deptno = #{deptno}
    </select>
    <select id="getAll" resultType="DeptDO">
        SELECT deptno,dname,loc FROM dept2
    </select>
    <select id="getEmpsByDeptno" resultMap="testEmp">
        SELECT * FROM emp2 e JOIN dept2 p ON e.deptno = p.deptno WHERE p.deptno = #{deptno} ORDER BY empno
    </select>


</mapper>