<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tutorial.Mapper.EmpMapper"> <!-- 自建interface的路徑 -->
    <!--  多對一 resulMap配置  -->
    <resultMap type="EmpDO" id="resultEmp"> <!-- type=Entity名稱  id=自訂義名稱-->
        <id property="empno" column="empno"/> <!-- property=實體變數名稱 column=自訂義欄位名稱 -->
        <result property="ename" column="ename"/>
        <result property="job" column="job"/>
        <result property="hiredate" column="hiredate"/>
        <result property="sal" column="sal"/>
        <result property="comm" column="comm"/>
        <result property="deptDO.deptno" column="deptno"/>
        <result property="deptDO.dname" column="dname"/>
        <result property="deptDO.loc" column="loc"/>
    </resultMap>
    <!--  多對一 resulMap配置 第二種方式  -->
    <resultMap type="EmpDO" id="testEmp">
        <id property="empno" column="empno"/>
        <result property="ename" column="ename"/>
        <result property="job" column="job"/>
        <result property="hiredate" column="hiredate"/>
        <result property="sal" column="sal"/>
        <result property="comm" column="comm"/>
        <association property="deptDO" javaType="DeptDO">
            <result property="deptno" column="deptno"/>
            <result property="dname" column="dname"/>
            <result property="loc" column="loc"/>
        </association>

    </resultMap>
    <!-- 一對多 resultMap配置 -->
    <resultMap type="DeptDO" id="resultDept">
        <result property="deptno" column="deptno"/>
        <result property="dname" column="dname"/>
        <result property="loc" column="loc"/>
        <collection property="empDOs" ofType="EmpDO" column="deptno"
                    select="org.tutorial.Mapper.DeptMapper.getAll">
            <id property="empno" column="empno" javaType="int" jdbcType="INTEGER"/>
            <result property="ename" column="ename" javaType="string" jdbcType="VARCHAR"/>
            <result property="job" column="job" javaType="string" jdbcType="VARCHAR"/>
            <result property="hiredate" column="hiredate" javaType="date" jdbcType="DATE"/>
            <result property="sal" column="sal" javaType="double" jdbcType="FLOAT"/>
            <result property="comm" column="comm" javaType="double" jdbcType="FLOAT"/>
            <result property="deptno" column="deptno" javaType="int" jdbcType="INTEGER"/>
        </collection>
    </resultMap>
    <!-- select查詢 id=與interface方法名稱相同 使用一對多或多對一必須要加resultMap=自己建立的resultMap_id  -->
    <!--  使用原本Entity resultType=Entity名稱  -->
    <select id="getAllEmps" resultMap="testEmp">
        SELECT
        e.*,p.*
        FROM emp2 e
        join dept2 p ON e.deptno = p.deptno
    </select>
    <insert id="insert">
        INSERT INTO emp2 (ename,job,hiredate,sal,comm,deptno)
        VALUES (#{ename}, #{job}, #{hiredate}, #{sal}, #{comm}, #{deptno})
    </insert>
    <delete id="delete">
        DELETE FROM emp2 where empno = #{empno}
    </delete>
    <update id="update">
        UPDATE emp2 set ename=#{ename}, job=#{job}, hiredate=#{hiredate}, sal=#{sal}, comm=#{comm}, deptno=#{deptno}
        where empno = #{empno}
    </update>
    <select id="findByPrimaryKey" resultMap="testEmp">
        SELECT * FROM emp2 e JOIN dept2 p ON e.deptno = p.deptno where empno = #{empno}
    </select>
    <select id="getAll" resultType="EmpDO">
        SELECT * FROM emp2 order by empno
    </select>


</mapper>